a:visited {color: black;}
a:link{color:black;}
a:hover{color:green;}
a:active{color:pink;}

.a{cursor:help;}
.b{cursor:wait;}

#header{


height:100px;
width:1206px;
background-color:#1E90FF;
font-family: Bookman Old Style;
font-style: italic;
Color: Black;
font-size:1.3em;
text-align:center;
}
